<%= link_to book_path(book), class: "book-card" do %>
  <% if book.cover_image.attached? %>
    <%= image_tag book.cover_image, class: "book-cover" %>
  <% else %>
    <div class="book-cover no-cover">📚</div>
  <% end %>
  <p class="book-title"><%= book.title %></p>
  <p class="book-author"><%= book.author %></p>
<% end %>