<h1>Search Books</h1>

<%= form_with url: search_books_path, method: :get, data: { controller: "search", turbo_frame: "search-results" } do |f| %>
  <%= f.text_field :q, data: { search_target: "input", action: "input->search#query" }, value: @query, placeholder: "Search by title or author..." %>
    <%= f.submit "Search" %>
  <% end %>

<turbo-frame id="search-results">
  <%= render "search_results", results: @results %>
</turbo-frame>